<div class="page-title">
  <h1>Itineraries</h1>
</div>
<div class="itin-index">
  <% @itineraries.each do |itinerary| %>
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="cardbanner">
            <span><%= itinerary.title %></span>
          </div>
          <div class="card-infos">
            <div class="card-infos-1">
              <h4><%= itinerary.countries.map{|country| country.name}.uniq.join(", ") %></h4>
              <div class="cards-tag">
                Tag 1 Tag 2 Tag 3
              </div>
            </div>
            <div class="card-infos-2">
              <h6><%= itinerary.days.map{|day| day.city}.uniq.join(", ") %></h6>
              <%# <h5>5 DAYS, FROM 500 TO 700 $</h5> %>
            </div>
            <div class="card-infos-3">
              <span class="fa-layers fa-fw">
                <i class="fas fa-heart"></i>
                <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-5 right-7" style="font-weight:700">
                  1
                </span>
              </span>
              <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
            </div>
            <div class="show-btn">
              <%= link_to "", itinerary_path(itinerary), class: "stretched-link" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



  <%# <div class="row">
    <div class="col-12 col-lg-8">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8">
    </div>
  </div> %>
