<div class="banner-show">
    <h1 id="banner-slogan-show">JUNGLE EVASION</h1>
</div>

<div class="show-info-1">
  <div class="show-info-1-text">
    <h6>San José - La Fortuna - San José - Rio Celeste - Tamarindo</h6>
    <h5>5 DAYS, FROM 500 TO 700 $</h5>
  </div>
  <div class="show-info-1-heart">
     <div class="heart">
        <span class="fa-layers fa-fw">
          <i class="fas fa-heart"></i>
          <span class="fa-layers-text fa-inverse" data-fa-transform="grow-6 right-19" style="font-weight:700">
            1
          </span>
        </span>
    </div>
  </div>
</div>

<div class="show-tags">
  <div class="show-tag">
    Tag 1
  </div>
  <div class="show-tag">
    Tag 2
  </div>
  <div class="show-tag">
    Tag 3
  </div>
</div>
<div class="trip-description">
  <h2 id="trip-description-header">Trip description</h1>
  <h6 id="trip-description">During a trip to Costa Rica, you will understand that the festive cacophony of Latin America touches the trees in the heart: the forest here is carnival, it has invented Harlequin costumes, blue feathers, giant red flowers. If you raise your head, you see green, warm. Wet leaves, thick, fat and generous. We are in a cocoon. Volcanoes and primary forests, mangroves and infinite beaches fringed with palm trees: if Eden is a country, it is perhaps Costa Rica which embodies it best . </h6>
</div>
