h3 {
  padding: 10px;
  margin-top: 25px !important;
}

/* form */

#itinerary_photo {
  border-radius: 0%;
}

.itinerary-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itinerary-form-content {
  background-color: rgba(230, 229, 229, 0.508);
  padding: 2% 3%;
  border-radius: 10px;
  width: 45%;
  margin-bottom: 3%;
}

.itinerary-form-content input {
  border-radius: 10px;
}

.itinerary-form-content textarea {
  border-radius: 10px;
}

.itinerary-form-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 550;
}

.itinerary-form-btn {
  text-align: center;
  align-items: right;
}

.itinerarie-photo {
  border-radius: 0px;
}

.form-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: #4FADBB;
  padding: 30px 0 30px 0;
}


.inform-header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: $xplorerz-gray;
}

#itinerary_description {
  border-radius: 4px;
  border: 1px solid #aaa;
}

#itinerary_title {
  border-radius: 4px;
  border: 1px solid #aaa;
}

.final-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
