.container-profile-page{
  display: flex;
  justify-content: space-around;
}

.profile-information {
  height: 400px;
  margin-top: 3%;
  padding: 2%;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  border-color: lightgray;
  box-shadow: 2px 3px rgb(236, 236, 236);
}

.profile-information p {
  padding-top: 4%;
}

.created-items {
  justify-content: space-around;
}
