.container-profile-page{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.profile-information {
  height: 400px;
  padding: 2% 4% 4% 4%;
  margin-left: 80px;
  margin-top: 20px;
  margin-right: 80px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  border-color: lightgray;
  box-shadow: 2px 3px rgb(236, 236, 236);
  position: sticky;
  top: 11rem;
  max-width: 300px;
}

.profile-information p {
  padding-top: 4%;
}

.header-profile {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #494949;
}

#name-profile {
  font-weight: 600;
  margin: 5px 0 0 0;
}

#email-profile {
  margin: 0px 0 15px 0;
  color: #494949;
}

#description-profile {
  margin: 0px 0 15px 0;
  color: #4FADBB;
}

.gems {
  font-weight: 600;
  color: #494949;
}
