<div class="footer">
  <div class="footer-copyright">
    <p>© 2021 Xplorerz, Inc.</p>
  </div>
  <div class="footer-links">
    <a href="https://github.com/cbongrand/xplorerz"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
