<h1 class="bold">Pages#home</h1>
<h2>Ceci est un h2</h2>
<h3>Ceci est un h2</h3>
<h4>Ceci est un h2</h4>
<h5>Ceci est un h2</h5>
<h6>Ceci est un h2</h6>
<p>Ceci est un p</p>

<div class="card">
  <div class="cardbanner">
     <span>JUNGLE EVASION</span>
  </div>
  <div class="card-infos">
    <div class="card-infos-1">
      <h4>Costa Rica 🇨🇷</h4>
      <div class="cards-tag">
        Tag 1 Tag 2 Tag 3
      </div>
    </div>
    <div class="card-infos-2">
      <h6>San José - La Fortuna - Monteverde - Rio Celeste - Tamarindo</h6>
      <h5>5 DAYS, FROM 500 TO 700 $</h5>
    </div>
    <div class="card-infos-3">
      <i class="fas fa-heart">10</i>
      <div class="avatar"></div>
    </div>
  </div>
</div>
