.banner-home {
  background-image: url("banner-home_img.jpg");
  height: 460px;
  background-size: cover;
  background-position: center 68%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-index {
  background-image: url("https://www.copaair.com/promotions/airtrfx-lp/cr-cover.jpg");
  height: 460px;
  background-size: cover;
  background-position: center 68%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-show {
  background-image: url("https://images.unsplash.com/photo-1552980870-139c7b393f0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
  height: 460px;
  background-size: cover;
  background-position: center 68%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-slogan {
  color: white;
  font-family: 'Montserrat', sans-serif;
  width: 480px;
  text-align: left;
  font-size: 45px;
  text-shadow: -1px 0px 9px rgb(0, 0, 0);
  padding: 0 0 15px 10px;
}


#banner-slogan-index {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 480px;
  text-align: center;
  font-size: 45px;
  text-shadow: -1px 0px 9px rgb(0, 0, 0);
}

#banner-slogan-show {
  color: white;
  font-family: 'Rock Salt', cursive;
  font-weight: 600;
  text-align: center;
  font-size: 45px;
  text-shadow: -1px 0px 9px rgb(0, 0, 0);
}

#search-bar {
  border-radius: 50px;
  border: solid 1px black;
  box-shadow: -4px 5px 16px 0px rgba(0,0,0,0.58);
  padding-left: 35px;
  width: 490px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.banner-search {
  position: relative;
}

.banner-search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select:invalid {
  color: rgb(162, 162, 162);
}

.banner-objects {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

#search-bar::placeholder  {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(140, 140, 140);
}

#search-submit-btn {
  background-color: #4FADBB;
  color: white;
  border-radius: 50%;
  padding: 13px;
  font-size: 16px;
  border: none;
  height: 45px;
  width: 45px;
  position: absolute;
  top: 7.5px;
  left: 433px;
}
