.card {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 350px;
  border-radius: 27px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)  ;
}

.cardbanner {
  background-image: url(https://images.unsplash.com/photo-1552980870-139c7b393f0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);
  border-top-left-radius: 27px;
  display: table;
  border-top-right-radius: 27px;
  text-align: center;
  height: 196px;
  color: white;
  vertical-align: middle;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)  ;
  span {
    display: table-cell;
    font-size: 200%;
    vertical-align: middle;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 20px #000000;
  }
}

.card-infos {
  padding: 10px;
}


.card-infos-1 {
  display: flex;
  justify-content: space-between;
  h4 {
    font-weight: 600;
  }
}

.card-infos-2 {
  h5 {
    padding-top: 5px;
    font-size: 13px;
    color: #4FADBB;
  }
  h6 {
    padding-top: 5px;
    font-size: 13px;
  }
}

.card-infos-3 {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  .fa-heart {
    font-size: 36px;
    color: red;
  }
}
