.card {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 350px;
  border-radius: 27px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)  ;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardbanner {
  border-top-left-radius: 27px;
  display: table;
  border-top-right-radius: 27px;
  text-align: center;
  height: 196px;
  color: white;
  vertical-align: middle;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)  ;
  flex-shrink: 0;
  span {
    display: table-cell;
    font-size: 200%;
    vertical-align: middle;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 20px #000000;
  }
}

.card-infos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.card-infos-1 {
  display: flex;
  justify-content: space-between;
  h4 {
    font-weight: 600;
  }
}

.card-infos-2 {
  flex-grow: 1;
  h5 {
    padding-top: 5px;
    font-size: 13px;
    color: #4FADBB;
  }
  h6 {
    padding-top: 5px;
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 37.4px;
    overflow: hidden;
  }

}

.card-infos-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .fa-heart {
    font-size: 36px;
  }
}





.card-little {
  background-color: rgb(255, 255, 255);
  width: 210px;
  height: 210px;
  border-radius: 16.2px;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)  ;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardbanner-little {
  border-top-left-radius: 16.2px;
  display: table;
  border-top-right-radius: 16.2px;
  text-align: center;
  height: 117.6px;
  width: 210px;
  color: white;
  vertical-align: middle;
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)  ;
  span {
    display: table-cell;
    font-size: 120%;
    vertical-align: middle;
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px 20px #000000;
  }
}

.card-infos-little {
  padding: 10px;
}


.card-infos-1-little {
  display: flex;
  justify-content: space-between;
  h4 {
    font-size: 14.4px;
    font-weight: 600;
  }
}

.cards-tag-little {
  font-size: 9.6px;
}


.card-infos-2-little {
  h5 {
    padding-top: 3px;
    font-size: 7.8px;
    color: #4FADBB;
  }
  h6 {
    padding-top: 3px;
    font-size: 7.8px;
  }
}

.card-infos-3-little {
  display: flex;
  padding-top: 0px;
  justify-content: space-between;
  align-items: center;
  .fa-heart {
    font-size: 18px;
  }
}

.card-infos-1-little-only-country {
  display: flex;
  justify-content: space-between;
  h4 {
    font-size: 17px;
    font-weight: 600;
  }
}

.card-infos-2-little-only-country {
  padding-top: 3px;
  h6 {
    padding-top: 3px;
    font-size: 11px;
  }
    h5 {
    padding-top: 3px;
    font-size: 10px;
    color: #4FADBB;
  }
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.6s;
}

.card-little:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  transition: 0.6s;
}

.cards-tag {
  font-size: smaller;
  display: flex;
  align-items: center;
  color: #4FADBB;
}
