.home {
    width: calc(100% - 140px);
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.journey {
  display: flex;
  padding: 70px 170px 25px 170px ;
}

.lightgrey-container {
  margin-top: 80px;
  background-color: rgb(230, 230, 230);
}

.itinerary-button-container {
  margin-bottom: 80px;
}

.show-info-1 {
  width: calc(100% - 140px);
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 33px 0 0;
}

.show-info-1-text {
  max-width: 900px;
  h6 {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 600;
    color: $xplorerz-gray;
  }
  h4 {
    font-size: 27px;
    margin-bottom: 13px;
    font-weight: 700;
    color: $xplorerz-gray;
  }
  h5 {
    color: #4FADBB;
  }
}

.show-tags {
  width: calc(100% - 140px);
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 30px 0;
}

.show-tag {
  padding: 3px 10px 3px 10px;
  border-radius: 20px;
  margin: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.trip-description {
    width: calc(100% - 300px);
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 100px 0px 100px;
    #trip-description-header {
      margin-bottom: 3%;
    }
}

.day-container {
  display: flex;
  width: calc(100% - 140px);
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-bottom: 5%;
}

.day-map {
  position: sticky;
}

.unpurchased {
  margin-bottom: 30px;
}

.day-purchased {
  background-color:#03c7d5;
  color: white;
  padding: 15px 30px;
  border-radius: 27px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  max-width: 500px;
}

.day-informations {
  text-align: center;
  color: $xplorerz-gray;
}

.day-description {
  width: 500px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #494949;
  margin-top: 20px;
}

.day-activity {
  font-size: 14px;
  margin-bottom: 13px;
}

.day-restaurant {
  font-size: 14px;
  margin-bottom: 13px;
}

.day-extra {
  font-size: 14px;
}
