.filter {
  margin: 10px 0 20px 0;
  color: white;
  select {
    padding: 5px;
    background-color: #4FADBB;
    border-right: solid 5px #4FADBB;
    border-left: none;
    border-top: solid 3px #4FADBB;
    border-bottom: solid 3px #4FADBB;
    color: white;
    border-radius: 10px;
  }
  select:invalid {
  color: rgb(255, 255, 255);
}
}
