h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.home-header {
  margin: 45px 0 40px 30px;
  font-weight: 600;
  color: #494949;
}

.home-other-header {
  margin-bottom: 40px;
  font-weight: 600;
  color: #494949;
}

.home-text {
  font-weight: 600;
  color: #494949;
}

#trip-description-header {
  text-align: center;
  font-weight: 600;
  color: $xplorerz-gray;
  margin-bottom: 10px;
}

#trip-description {
  text-align: center;
  font-weight: 600;
  color: $xplorerz-gray;
}
