.fa-heart {
    color: rgb(255, 0, 0);
  }

.heart {
  .fa-heart {
    font-size: 60px;
  }
  text-align: center;
}

.like-heart:hover{
  cursor: pointer;
}

// .fa-inverse{
//   color: rgb(255, 255, 255);
// }

.fa-layers-text{
  color: rgb(255, 255, 255);
  font-weight: 100;
}

.like-message{
  padding: 20px;
  text-align: center;
}
