.navbar {
  height: 100px;
  justify-content: space-between;
  border-bottom: solid;
  border-bottom: solid 1px #4949492c;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  padding-left: 140px;
  padding-right: 140px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}
